.controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.controls__button {
  display: block;
  width: 129px;
  height: 50px;
  padding: 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
}

.controls__button--next {
  background-image: url("../img/icon-right-arrow.svg");
  border-left: none;
}

.controls__button--previous {
  background-image: url("../img/icon-left-arrow.svg");
  border-right: none;
}
