.about-us {
  margin-bottom: 57px;
  padding-top: 33px;

  border-top: 1px solid black;
}

.about-us__wrapper {
  @include container;
}

.about-us__intro {
  margin-bottom: 27px;
}

.about-us__features-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.about-us__feature {
  position: relative;

  max-width: 100%;
  margin-bottom: 33px;
  padding-top: 57px;

  word-wrap: break-word;

  &:last-of-type {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--eco::before {
    top: 5px;
    left: 7px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money {
    padding-top: 50px;
  }

  &--money::before {
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--like {
    padding-top: 49px;
  }

  &--like::before {
    top: 3px;
    left: 6px;

    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--tailor {
    padding-top: 52px;
  }

  &--tailor::before {
    left: 3px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket {
    padding-top: 50px;
  }

  &--rocket::before {
    left: -5px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");;
  }

  &--gift {
    padding-top: 50px;
  }

  &--gift::before {
    top: -2px;
    left: 3px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 83px;
    padding-top: 55px;
  }

  .about-us__intro {
    margin-bottom: 40px;
  }

  .about-us__features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .about-us__feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 58px;

    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 1;
      max-width: 230px;
      margin-right: 105px;
      padding-top: 63px;
    }

    &--tailor {
      order: 2;
      max-width: 290px;
      padding-top: 63px;
    }

    &--tailor::before {
      top: 10px;
    }

    &--money {
      order: 3;
      max-width: 240px;
      margin-right: 95px;
      padding-top: 54px;
    }

    &--rocket {
      order: 4;
      max-width: 310px;
      padding-top: 54px;
    }

    &--rocket::before {
      top: 3px;
      left: -6px;
    }

    &--like {
      order: 5;
      max-width: 240px;
      margin-right: 95px;
      margin-bottom: 0;
      padding-top: 50px;
    }

    &--gift {
      order: 6;
      max-width: 290px;
    }

    &--gift::before {
      top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-bottom: 90px;
    padding-top: 70px;
  }

  .about-us__wrapper {
    padding-left: 225px;
  }

  .about-us__features-list {
    width: 700px;
  }

  .about-us__feature {
    &--eco {
      margin-right: 120px;
    }

    &--eco::before {
      top: 10px;
    }

    &--tailor::before {
      top: 14px;
    }

    &--money {
      margin-right: 110px;
    }

    &--like {
      margin-right: 110px;
    }
  }
}
