.about-us {
  margin-bottom: 60px;
  padding: 0 30px;
  padding-top: 30px;
}

.about-us__wrapper {
  width: 260px;
  margin: 0 auto;
}

.about-us__intro {
  margin-bottom: 27px;
}

.about-us__features-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0;
}

.about-us__feature {
  position: relative;

  margin-bottom: 33px;
  padding-top: 54px;

  &:last-of-type {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--eco::before {
    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--tailor::before {
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 83px;
    padding: 0 50px;
    padding-top: 55px;
  }

  .about-us__wrapper {
    width: 668px;
  }

  .about-us__intro {
    margin-bottom: 40px;
  }

  .about-us__features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about-us__feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
}
