.catalog {
  margin-bottom: 8px;
  padding-top: 30px;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @include container;
}

.catalog__product {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 53px;
    padding-top: 127px;
  }

  .catalog__product {
    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 3px;
  }

  .catalog__wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }
}
