.catalog {
  margin-bottom: 8px;
  padding-top: 30px;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @include container;
}

.catalog__product {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 30px;
    padding-top: 68px;
  }

  .catalog__product {
    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 0;
    padding-top: 120px;
  }

  .catalog__wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .catalog__product {
    margin-bottom: 30px;

    &:nth-of-type(3n-1) {
      margin-right: 51px;
      margin-left: 51px;
    }
  }
}
