.controls {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 1px;
    height: 50px;

    background-color: #ececec;
    transform: translateX(-50%);
  }
}

.controls__button {
  display: block;
  width: 129px;
  height: 50px;
  padding: 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    border-left: none;
  }

  &--previous {
    background-image: url("../img/icon-left-arrow.svg");
    border-right: none;
  }
}

@media (min-width: $tablet-width) {
  .controls {
    position: absolute;
    right: -35px;
    bottom: 3px;

    width: 258px;
    margin: 0;

    &::before {
      display: none;
    }
  }

  .controls__button {
    width: 85px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .controls {
    right: -82px;
  }
}
