.contacts {
  padding: 0 30px;
  padding-top: 38px;
}

.contacts__intro {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0;
}

.contacts__info {
  margin-bottom: 60px;
}
