.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.developer__logo {
  position: relative;

  display: block;
  width: 27px;
  height: 34px;
  margin-left: 29px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 34px;

    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
