.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.developer__logo {
  position: relative;

  display: block;
  width: 27px;
  height: 34px;
  margin-left: 29px;

  outline: none;

  &:hover .developer__icon,
  &:focus .developer__icon {
    fill: $site-color;
  }

  &:active .developer__icon {
    opacity: 0.3;
  }
}

.developer__icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 34px;

  fill: #63d1bb;
}
