.main-footer {
  width: 320px;
  min-width: inherit;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  font-family: $main-font;
  color: #000000;
  letter-spacing: 0;

  background-color: #f1f1f1;
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  @include container;
}

.main-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    width: $tablet-width;
    padding: 57px 0;
  }

  .main-footer__wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
  }

  .main-footer__logo-img {
    width: 100%;
    height: inherit;
  }
}


@media (min-width: $desktop-width) {
  .main-footer {
    width: $desktop-width;
  }
}
