.main-footer {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  font-family: $main-font;
  color: #000000;
  letter-spacing: 0;

  background-color: #f1f1f1;
}
