.new-order {
  margin-bottom: 55px;
  padding-top: 23px;
}

.new-order__wrapper {
  @include container;
}

.new-order__intro {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  color: $grey-color;
  letter-spacing: 0;
}

.new-order__form {
  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  letter-spacing: 0;
}

.new-order__rules {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
  color: $grey-color;
  letter-spacing: 0;
}

@media (min-width: $tablet-width) {
  .new-order {
    margin-bottom: 50px;
    padding-top: 61px;
  }

  .new-order__wrapper {
    margin-bottom: 66px;
  }

  .new-order__form-ending {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .new-order__intro {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 66px;
  }

  .new-order__wrapper {
    width: 950px;
    margin-bottom: 66px;
    padding: 0 100px;
  }
}
