.page-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 320px;
  margin: 0 auto;
  padding: 30px;

  border-top: 1px solid #ececec;

  &--img {
    min-height: 283px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .page-intro__title {
      margin-top: 40px;
    }
  }

  &--no-img {
    height: 177px;

    background-color: #f1f1f1;

    .page-catalog__title,
    .page-form__title {
      margin-top: 45px;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-intro {
    align-items: flex-start;
    width: $tablet-width;
    padding: 13px 50px;

    .page-intro__title {
      font-size: 43px;
      line-height: 50px;
    }

    &--img {
      min-height: 746px;

      .page-intro__title {
        margin-top: 140px;
      }
    }

    &--no-img {
      min-height: 226px;

      .page-catalog__title,
      .page-form__title {
        margin-top: 80px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-intro {
    width: $desktop-width + 100px;
    padding: 14px 0;

    .page-intro__title {
      font-size: 53px;
      line-height: 57px;
    }

    &--no-img {
      height: 255px;
    }
  }
}
