.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0;
}

@media (min-width: $tablet-width) {
  .page-intro--img .page-title {
    margin-bottom: 352px;
  }
}

@media (min-width: $desktop-width) {
  .page-intro--img .page-title {
    margin-bottom: 333px;
  }
}
