.popular-categories {
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: white;
  letter-spacing: 0;
}

.popular-categories__wrapper {
  width: 320px;
  margin: 0 auto;
}

.popular-categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-categories__item {
  background-color: #63d1bb;

  &:last-of-type {
    background-color: #56c3b2;
  }
}

.popular-categories__link {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 105px;
  padding: 30px 28px;
}

.popular-categories__title {
  width: 100%;
  max-width: 145px;
  margin: 0;

  vertical-align: middle;
  text-align: left;
  word-wrap: break-word;

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--interior::after {
    top: 23px;
    left: 244px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-toy.svg");
  }

  &--toys::after {
    top: 21px;
    left: 233px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-interior.svg");
  }
}

@media (min-width: $tablet-width) {
  .popular-categories {
    margin-top: -119px;
    margin-bottom: 59px;

    font-size: 20px;
    line-height: 30px;
  }

  .popular-categories__wrapper {
    width: 768px;
    padding: 0 50px;
  }

  .popular-categories__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .popular-categories__item {
    width: 50%;
  }

  .popular-categories__link {
    min-height: 119px;
  }
}

@media (min-width: $desktop-width) {
  .popular-categories {
    margin-bottom: 132px;
  }

  .popular-categories__wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}
