.popular-categories {
  margin-bottom: 28px;

  color: white;
  letter-spacing: 0;
}

.popular-categories__wrapper {
  width: 320px;
  margin: 0 auto;
}

.popular-categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-categories__item {
  background-color: #63d1bb;

  &:last-of-type {
    background-color: #56c3b2;
  }
}

.popular-categories__link {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 103px;
  padding: 0 30px;
}

.popular-categories__link:hover,
.popular-categories__link:focus {
  outline: none;

  .popular-categories__title::after {
    opacity: 0.7;
  }
}

.popular-categories__link:active {
  .popular-categories__title::after {
    opacity: 0.3;
  }
}

.popular-categories__title {
  width: 100%;
  max-width: 145px;
  margin: 0;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  vertical-align: middle;
  text-align: left;
  word-wrap: break-word;

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;

    transition: 0.3s ease-in-out;
  }

  &--interior::after {
    top: 23px;
    left: 244px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
  }

  &--toys::after {
    top: 20px;
    left: 233px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
  }
}

@media (min-width: $tablet-width) {
  .popular-categories {
    margin-top: -119px;
    margin-bottom: 34px;
  }

  .popular-categories__wrapper {
    position: relative;

    width: 768px;
    padding: 0 50px;
    padding-bottom: 12px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: $tablet-width;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 24px;
    }
  }

  .popular-categories__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .popular-categories__item {
    width: 50%;
  }

  .popular-categories__link {
    min-height: 119px;
  }

  .popular-categories__title {
    padding-left: 8px;

    font-size: 20px;
    line-height: 30px;

    &--interior::after {
      top: 30px;
      left: 260px;
    }

    &--toys::after {
      top: 30px;
      left: 240px;
    }
  }
}

@media (min-width: $desktop-width) {
  .popular-categories {
    margin-bottom: 108px;
  }

  .popular-categories__wrapper {
    width: 1150px;
    padding: 0 50px;
    padding-bottom: 16px;

    &::before {
      width: $desktop-width;
      height: 34px;

      background-size: 100% 34px;
    }
  }

  .popular-categories__title {
    padding-left: 8px;

    font-size: 20px;
    line-height: 30px;

    &--interior::after {
      top: 30px;
      left: 450px;
    }

    &--toys::after {
      top: 30px;
      left: 430px;
    }
  }
}
