.production {
  margin-bottom: 60px;
  padding-top: 48px;
}

.production__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 27px;

  background: #ffffff;
  border: 1px solid #ececec;

  transition: 0.3s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__intro {
  position: relative;

  width: 100%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 24px;
  padding-right: 30px;
  padding-left: 90px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;
  word-wrap: break-word;
}

.production__camera-icon {
  position: absolute;
  top: 10px;
  left: 34px;

  width: 42px;
  height: 32px;

  fill: $site-color;
}

.production__subwrapper {
  position: relative;

  margin-bottom: 17px;
}

.production__video {
  width: 260px;
  height: 150px;
}

.production__play-video {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  transform: translateX(-50%) translateY(-50%);

  transition: 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__info {
  max-width: 100%;
  margin: 0;
  margin-bottom: 24px;
  padding: 0 35px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  letter-spacing: 0;
  word-wrap: break-word;
}

.production__button {
  max-width: 192px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 60px;
    padding-top: 23px;
  }

  .production__wrapper {
    width: 668px;
    padding-bottom: 0;

    border: none;
  }

  .production__subwrapper {
    order: -1;
    width: 100%;
    max-height: 455px;
    margin-bottom: 0;
  }

  .production__video {
    width: 668px;
    height: 455px;
  }

  .production__intro {
    margin-bottom: 0;
    padding-top: 41px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;

    border: 1px solid #ececec;
    border-bottom: none;
  }

  .production__camera-icon {
    top: 33px;
    left: 35px;
  }

  .production__order {
    padding: 0 40px;
    padding-top: 31px;
    padding-bottom: 46px;

    border: 1px solid #ececec;
    border-top: none;
  }

  .production__info {
    margin-bottom: 33px;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    max-width: 584px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 104px;
  }

  .production__wrapper {
    position: relative;

    justify-content: flex-start;
    align-items: stretch;
    width: 1050px;
  }

  .production__intro {
    position: absolute;
    top: 98px;
    left: 762px;
    z-index: 3;

    max-width: 178px;
    padding: 0;

    border: none;
  }

  .production__camera-icon {
    top: -54px;
    left: 0;
  }

  .production__subwrapper {
    width: 682px;
  }

  .production__video {
    width: 682px;
    height: 455px;
  }

  .production__order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 368px;
    padding: 0;
    padding-top: 176px;
    padding-bottom: 60px;
    padding-left: 78px;

    border: 1px solid #ececec;
  }

  .production__info {
    width: 100%;
    margin-bottom: 44px;
    padding: 0;
  }

  .production__button {
    max-width: 230px;
    margin: 0;
    margin-right: auto;
  }
}
