.production {
  margin-bottom: 58px;
}

.production__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 33px;

  background: #ffffff;
  border: 1px solid #ececec;

  @include container;
}

.production__intro {
  position: relative;

  width: 100%;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;

    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.production__subwrapper {
  position: relative;
}

.production__video {
  width: 260px;
  height: 150px;
}

.production__play-video {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transform: translateX(-50%) translateY(-50%);
}

.production__info {
  max-width: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  letter-spacing: 0;
  word-wrap: break-word;
}

@media (min-width: $tablet-width) {
  .production__subwrapper {
    width: 100%;
  }

  .production__video {
    width: 668px;
    height: 455px;
  }

  .production__order {
    padding: 0 40px;
  }

  .production__button {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    justify-content: flex-start;
  }

  .production__subwrapper {
    width: 682px;
  }

  .production__video {
    width: 682px;
    height: 455px;
  }

  .production__order {
    width: 252px;
    padding: 0;
  }

  .production__button {
    max-width: 230px;
  }
}
