.reviews {
  margin-bottom: 44px;
}

.reviews__wrapper {
  position: relative;

  @include container;
}

.reviews__intro {
  margin-bottom: 22px;
}

.reviews__slider {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  list-style: none;
}

.reviews__controls {
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    margin-bottom: 105px;
    padding-top: 80px;
  }

  .reviews__intro {
    margin-bottom: 47px;
    margin-left: -5px;
  }

  .reviews__controls {
    position: absolute;
    right: 50px;
    bottom: 0;
  }

  .reviews__button {
    position: absolute;
    top: -2px;
    right: 50px;
    z-index: 2;

    width: 175px;
  }
}


@media (min-width: $desktop-width) {
  .reviews {
    position: relative;

    margin-bottom: 165px;
    padding-top: 78px;

    .reviews__wrapper {
      width: 1050px;
      padding: 0;
    }
  }

  .reviews__intro {
    margin-bottom: 47px;
    margin-left: 173px;
  }

  .reviews__button {
    top: 8px;
    right: 0;
  }
}
