.review {
  position: relative;
}

.reviews__intro {
  margin-bottom: 22px;
}

.review__text {
  margin: 0;

  font-weight: 400;
  font-size: $main-font-size;
  line-height: 30px;
  color: $grey-color;
  letter-spacing: 0;
}

@media (min-width: $tablet-width) {
  .review::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -50px;
    z-index: -1;

    width: 350px;
    min-height: 457px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .reviews__intro {
    margin-bottom: 44px;
  }
}
