.section-intro {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
}


@media (min-width: $tablet-width) {
  .section-intro {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .section-intro {
    font-size: 53px;
    line-height: 57px;
  }
}
