.setting {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  border: none;

  input,
  textarea {
    outline: none;
  }

  &--type {
    padding-bottom: 45px;

    .setting__title {
      margin-bottom: 32px;
    }
  }

  &--colors {
    padding-bottom: 43px;

    .setting__title {
      margin-bottom: 33px;
    }
  }

  &--user {
    padding-bottom: 34px;

    .setting__title {
      margin-bottom: 24px;
    }
  }

  &--type,
  &--colors,
  &--user {
    .setting__title {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 63px;

        width: 196px;
        height: 1px;

        background-color: $site-color;
        transform: translateY(-50%);
      }
    }
  }

  &--phone,
  &--email {
    position: relative;

    padding: 0;
    padding-bottom: 34px;

    .setting__title {
      margin-bottom: 4px;
    }
  }

  &--phone {
    .setting__title {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 82px;

        width: 178px;
        height: 1px;

        background-color: $site-color;
        transform: translateY(-50%);
      }
    }
  }

  &--email {
    .setting__title {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 82px;

        width: 178px;
        height: 1px;

        background-color: $site-color;
        transform: translateY(-50%);
      }
    }
  }

  &--textarea {
    padding: 0;
    padding-bottom: 17px;

    .setting__title {
      margin-bottom: 22px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 64px;

        width: 196px;
        height: 1px;

        background-color: $site-color;
        transform: translateY(-50%);
      }
    }
  }
}

.setting__icon {
  position: absolute;
  top: 32px;
  right: 5px;

  opacity: 0.2;

  transition: 0.3s ease-in-out;

  fill: $grey-color;

  &--phone {
    top: 33px;
    right: 6px;

    width: 25px;
    height: 24px;
  }

  &--mail {
    top: 30px;
    right: 0;

    width: 32px;
    height: 32px;
  }
}

.setting__title {
  position: relative;

  padding: 0;
  padding-right: 23px;

  color: $site-color;
  text-transform: uppercase;
}

.setting__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.setting--user__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.setting__value {
  position: relative;

  width: 100%;
  padding-left: 62px;

  outline: none;

  &:hover::before,
  &:focus::before {
    border: 2px solid $site-color;
  }

  &:active::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }


  &--radio:not(:last-of-type) {
    margin-bottom: 25px;
  }

  &--checkebox:not(:last-of-type) {
    margin-bottom: 43px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 42px;
    height: 42px;

    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-25%);

    transition: 0.3s ease-in-out;
  }

  &--radio::before {
    width: 42px;
    height: 42px;

    background-color: white;
    border: 2px solid $grey-color;
    border-radius: 50%;
  }

  &--checkebox::before {
    width: 40px;
    height: 39px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 16px;
    border: 2px solid $grey-color;
  }
}

.type-1:checked ~ label[for="type-1"]::before,
.type-2:checked ~ label[for="type-2"]::before {
  background-color: $site-color;
  box-shadow: inset 0 0 0 10px white;
}

.color-1:checked ~ label[for="color-1"]::before,
.color-2:checked ~ label[for="color-2"]::before,
.color-3:checked ~ label[for="color-3"]::before,
.color-4:checked ~ label[for="color-4"]::before,
.color-5:checked ~ label[for="color-5"]::before,
.color-6:checked ~ label[for="color-6"]::before {
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
}

.setting__label:not(:last-of-type) {
  margin-bottom: 23px;
}

.setting__text-input {
  position: relative;

  width: 100%;
  padding: 16px 18px;
  padding-left: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: $grey-color;
  letter-spacing: 0;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $grey-color;

  transition: 0.3s ease-in-out;

  &:hover,
  &:focus {
    border-bottom: 2px solid $site-color;
  }

  &:hover + .setting__icon,
  &:focus + .setting__icon {
    opacity: 1;

    fill: $site-color;
  }

  &:active {
    color: rgb(68, 68, 68);
  }

  &--phone {
    position: relative;

    padding-right: 63px;
  }

  &--email {
    position: relative;

    padding-right: 50px;
  }
}

.setting__textarea {
  width: 100%;
  height: 140px;
  padding: 17px;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: $grey-color;
  letter-spacing: 0;

  background-color: transparent;
  border: 2px solid $grey-color;

  transition: 0.3s ease-in-out;

  resize: none;

  &:hover,
  &:focus {
    border: 2px solid $site-color;
  }

  &:hover + .setting__icon,
  &:focus + .setting__icon {
    fill: $site-color;
  }

  &:active {
    color: rgba(68, 68, 68, 1);
  }
}

.setting__text-input::placeholder,
.setting__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .setting__wrapper {
    max-width: 503px;
  }

  .setting__title {
    width: 100%;
    max-width: 167px;

    &::after {
      display: none;
    }
  }

  .setting {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;

    &--type {
      margin-bottom: 70px;
      padding: 0 50px;

      .setting__title {
        margin: 0;
        padding: 0;
      }

      .setting__value:first-of-type {
        margin-bottom: 56px;
      }
    }

    &--colors {
      padding: 65px 50px;

      background-color: #f1f1f1;

      .setting__wrapper {
        flex-direction: row;
        justify-content: space-between;
      }

      .setting__value {
        width: 50%;

        &:nth-last-of-type(2) {
          margin: 0;
        }
      }
    }

    &--user {
      padding: 50px 50px;
      padding-top: 50px;

      .setting__title {
        padding-top: 17px;
      }

      .setting__label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 500px;

        .setting__text-input {
          margin-left: 22px;
        }
      }
    }

    &--phone,
    &--email {
      padding: 0 50px;

      background-color: #f1f1f1;

      .setting__title {
        padding-top: 15px;
      }

      .setting__text-input {
        width: 500px;
        padding-left: 18px;
      }
    }

    &--phone {
      padding-top: 50px;
    }

    &--email {
      padding-top: 24px;
      padding-bottom: 50px;
    }

    &--textarea {
      padding: 50px;

      .setting__title {
        padding-top: 15px;
      }

      .setting__textarea {
        width: 500px;
        height: 142px;
      }
    }
  }

  .setting__value {
    font-size: 19px;
    line-height: 19px;

    &--radio {
      padding-left: 80px;
    }

    &--radio::before {
      width: 50px;
      height: 50px;

      background-color: white;
      border: 2px solid $grey-color;
      border-radius: 50%;
    }

    &--checkebox {
      padding-left: 80px;
    }

    &--checkebox:not(:last-of-type) {
      margin-bottom: 60px;
    }

    &--checkebox::before {
      width: 52px;
      height: 52px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 33px 32px;
      border: 2px solid $grey-color;
    }
  }

  .type-1:checked ~ label[for="type-1"]::before,
  .type-2:checked ~ label[for="type-2"]::before {
    background-color: $site-color;
    box-shadow: inset 0 0 0 13px white;
  }

  .setting__icon {
    &--phone {
      top: 60px;
      right: 75px;
    }

    &--mail {
      top: 35px;
      right: 75px;
    }
  }
}


@media (min-width: $desktop-width) {
  .setting__title {
    display: inline-block;
    min-width: 175px;

    text-align: center;
  }

  .setting {
    &--type {
      .setting__title {
        top: 5px;
        left: -5px;
      }
    }

    &--user {
      .setting__label {
        width: 700px;
      }

      .setting__title {
        left: 5px;
      }
    }

    &--colors {
      .setting__wrapper {
        justify-content: space-between;
        max-width: 710px;
      }

      .setting__value {
        width: 175px;

        &:not(:nth-of-type(3n)) {
          margin-right: 87px;
        }

        &:nth-of-type(4) {
          margin-bottom: 0;
        }
      }

      .setting__title {
        top: 3px;
        left: 5px;
      }
    }

    &--phone,
    &--email {
      .setting__text-input {
        width: 700px;
      }
    }

    &--phone {
      padding-top: 52px;

      .setting__title {
        left: 5px;
      }
    }

    &--email {
      padding-top: 24px;

      .setting__title {
        top: 6px;
        left: 13px;
      }
    }

    &--textarea {
      padding-bottom: 45px;

      .setting__title {
        top: 2px;
        left: 8px;
      }

      .setting__textarea {
        width: 700px;
      }
    }
  }

  .setting__icon {
    &--phone {
      top: 65px;
      right: 235px;
    }

    &--mail {
      top: 35px;
      right: 230px;
    }
  }
}
