.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;

  border: 1px solid #ececec;

  &:last-of-type {
    display: none;
  }
}

.site-list--hidden {
  display: none;
}

.site-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 79px;
  padding: 30px;
  padding-left: 75px;

  background-color: white;
  border-bottom: 1px solid #ececec;

  a {
    max-width: 100%;

    word-wrap: break-word;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;

      .site-list__search-icon,
      .site-list__cart-icon {
        opacity: 1;

        fill: $site-color;
      }
    }

    &:active {
      outline: none;
      opacity: 0.2;

      .site-list__search-icon,
      .site-list__cart-icon {
        opacity: 0.3;
      }
    }
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.site-list__item--search {
  position: relative;
}

.site-list__search-icon {
  position: absolute;
  top: 50%;
  left: 32px;

  width: 18px;
  height: 18px;

  transform: translateY(-50%);

  fill: #d3d2d2;

  &:active {
    opacity: 0.3;
  }
}

.site-list__item--basket {
  position: relative;
}

.site-list__cart-icon {
  position: absolute;
  top: 50%;
  left: 32px;

  width: 21px;
  height: 18px;

  transform: translateY(-50%);

  fill: #d3d2d2;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;

    border: none;

    &:nth-of-type(1) {
      height: 64px;

      font-size: 15px;

      .site-list__item:first-of-type {
        min-height: 64px;
        margin-right: 35px;
        padding: 20px 0;
      }
    }

    &:nth-of-type(2) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 348px;
      height: 88px;

      .site-list__item {
        min-height: 88px;

        border-left: 1px solid #ececec;
      }
    }
  }

  .site-list__item {
    width: auto;
    padding: 30px 0;

    background-color: transparent;
    border: none;
  }

  .site-list__item--search {
    width: 82px;

    font-size: 0;

    &::before {
      top: 50%;
      left: 50%;

      transform: translateX(-50%) translateY(-50%);
    }
  }

  .site-list__item--basket {
    padding-left: 82px;

    &::before {
      top: 35px;
      left: 31px;
    }
  }
}


@media (min-width: $desktop-width) {
  .site-list {
    .site-list__item {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &:nth-of-type(1) {
      flex-wrap: nowrap;
      justify-content: flex-start;
      min-height: 88px;

      font-size: 17px;
      line-height: 24px;

      .site-list__item {
        height: 100%;
        margin: 0;

        &:first-of-type {
          max-width: 234px;
          padding-top: 30px;
          padding-right: 35px;
          padding-bottom: 30px;

          border-right: 1px solid #ececec;
        }
      }
    }

    &:nth-of-type(2) {
      width: 349px;
      min-height: 88px;
    }

    &:nth-of-type(3) {
      display: flex;
      height: 64px;

      font-size: 15px;
      line-height: 24px;

      .site-list__item {
        min-height: 64px;
        padding: 20px 0;

        &:first-of-type {
          margin-right: 62px;
        }
      }
    }
  }

  .site-list__search-icon {
    top: 48px;
  }

  .site-list__cart-icon {
    top: 47px;
    left: 30px;
  }
}
