.site-list {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;

  border: 1px solid #ececec;
}

.site-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 79px;
  padding: 27px 0;
  padding-right: 30px;
  padding-left: 75px;

  background-color: white;
  border-bottom: 1px solid #ececec;

  a {
    max-width: 100%;

    word-wrap: break-word;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    min-height: 88px;

    border: none;
  }

  .site-list__item {
    padding: 0;

    border-bottom: none;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: none;
    }
  }
}


@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;

    background-color: transparent;
    border: none;
  }

  .site-list__item {
    width: auto;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: flex;
    }

    &:nth-of-type(3) {
      margin-left: auto;
    }
  }
}
