.social {
  width: 260px;
  margin-bottom: 22px;
  padding-bottom: 29px;

  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item a {
  position: relative;

  display: block;
}

.social__item--inst a {
  width: 22px;
  height: 21px;
}

.social__item--fb {
  margin: 0 40px;

  a {
    width: 15px;
    height: 28px;
  }
}

.social__item--tw a {
  width: 23px;
  height: 20px;
}

.social__item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  background-repeat: no-repeat;
  background-position: center;
}

.social__item--inst a::before {
  width: 22px;
  height: 21px;

  background-image: url("../img/icon-insta.svg");
}

.social__item--fb a::before {
  width: 15px;
  height: 28px;

  background-image: url("../img/icon-fb.svg");
}

.social__item--tw a::before {
  width: 23px;
  height: 20px;

  background-image: url("../img/icon-twitter.svg");
}

@media (min-width: $tablet-width) {
  .social {
    width: 142px;
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: none;
  }
}
