.under-menu {
  position: absolute;
  bottom: -44px;
  left: 0;

  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.under-menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: $main-font-size;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;

  background-color: transparent;
}

.under-menu__item {
  margin-right: 37px;

  &:nth-of-type(3),
  &:nth-of-type(4) {
    display: none;
  }
}

.under-menu__delivery-info {
  font-weight: 400;
  font-size: $main-font-size;
  line-height: 24px;
  text-align: right;
  color: #444444;
  letter-spacing: 0;
}

@media (min-width: $tablet-width) {
  .under-menu {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .under-menu__item {
    margin-right: 37px;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: none;
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      display: block;
    }
  }
}
