.week-offer {
  margin: 0 auto;
  margin-bottom: 36px;
}

.week-offer__wrapper {
  margin: 0 auto;

  @include container;
}

.week-offer__intro-subwrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.week-offer__intro {
  width: auto;
}

.week-offer__subintro {
  width: auto;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  color: $site-color;
  text-transform: uppercase;
  letter-spacing: 0;
}

.week-offer__information {
  margin-bottom: 28px;
}

.week-offer__description {
  margin: 0;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: $main-font-size;
  line-height: 24px;
  color: $grey-color;
  letter-spacing: 0;
}

.week-offer__params {
  border-collapse: collapse;
}

.week-offer__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $grey-color;
  letter-spacing: 0;
}

.week-offer__figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 24px;
}

.week-offer__image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .week-offer {
    margin-bottom: 52px;
  }

  .week-offer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .week-offer__intro-subwrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .week-offer__information {
    width: 50%;
  }

  .week-offer__figure {
    width: 50%;
  }

  .week-offer__image {
    width: 100%;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer {
    margin-bottom: 73px;
  }

  .week-offer__intro-subwrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .week-offer__information {
    width: 50%;
  }

  .week-offer__figure {
    width: 50%;
  }

  .week-offer__image {
    width: 100%;
    height: 636px;
  }
}
