.site-list {
  margin: 0;
  padding: 0;

  list-style: none;

  border: 1px solid #ececec;
}

.site-list__item {
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.site-list__item:last-of-type {
  border-bottom: none;
}
