$main-font: "Open Sans", "Arial", sans-serif;
$main-font-size: 15px;
$site-color: #46c1ae;
$grey-color: #444444;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
